@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');
* {box-sizing: border-box;}

body {
  margin: 0;
  background: url('../pics/bg-body.jpg') fixed;
}

.wrapper {
  max-width: 1000px;
  margin: 0 auto;
}

.content {
  background-color: #2f2f2f;
}

.content::after , footer::after {
  content: "";
  clear: both;
  display: table;
}

header {
  background: url('../pics/bg-header.jpg');
  color: white;
  font-weight: bold;
  font-size: 60px;
  padding: 80px 60px;
  text-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
}

nav {
  width: 25%;
  float: left;
}

nav ul {
  margin: 0;
  padding: 30px;
  list-style: none;
}

nav ul li {
  border-bottom: dashed 1px rgba(255,255,255, 0.8);
}

nav ul li a {
  text-decoration: none;
  color: white;
  display: block;
  padding: 15px 0;
}

nav a:hover {
  padding-left: 15px;
  background-color: rgba(255,255,255, 0.1);
}

main {
  width: 75%;
  background-color: white;
  float: left;
  padding: 30px;
}

main a {
  line-height: 23px;
}

.float-right {
  float: right;
  margin: 0 0 0 20px;
}

.float-left {
  float: left;
  margin: 0 20px 0 0;
}
footer {
  padding: 20px 0;
}

footer .left {
  float: left;
}
footer .right {
  float: right;
}
footer a{
  text-decoration: none;
  color: white;
  padding: 0 20px 0 0;
}
footer a:hover {
  color: black;
}
h1 {
  margin-top: 0;
}
h1 span {
  font-size: 50px;
  background: #0b7d0b;
  color: white;
  border-left: 10px solid #0b7d0b;
  border-right: 10px solid #0b7d0b;
  border-bottom: 7px solid #0b7d0b;

  /*decoration break*/
  -webkit-box-decoration-break: clone;
  -o-box-decoration-break: clone;
  box-decoration-break: clone;
}
